{% extends 'base.html.twig' %}

{% block body %}
    <div class="container container-contact">
        <div class="row row-contact">
            <div class="span8 contact">
                <h2>Contactez nous</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc
                    iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. Vivamus tincidunt sem
                    eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna.</p>

                <div class="alert alert-success">
                    Well done! You successfully read this important alert message.
                </div>

                <form action="#" id="contact-form">
                    <div class="input-prepend">
                        <span class="add-on"><i class="fa-solid fa-user"></i></span>
                        <input class="span4" size="16" type="text" placeholder="Nom">
                    </div>
                    <div class="input-prepend">
                        <span class="add-on"><i class="fa-solid fa-envelope"></i></span>
                        <input class="span4" size="16" type="text" placeholder="Email">
                    </div>
                    <div class="input-prepend">
                        <span class="add-on"><i class="fa-solid fa-question"></i></span>
                        <input class="span4" size="16" type="text" placeholder="Requête">
                    </div>
                    <textarea class="span6 textArea-contact"></textarea>
                    <div class="row">
                        <div class="span2">
                            <input type="submit" class="btn btn-inverse" value="Envoyer Message">
                        </div>
                    </div>
                </form>
            </div>
    
            <div class="span4 sidebar page-sidebar map-side">
                <h5 class="title-bg">Notre localisation</h5>
                <address>
                    <strong>Paris</strong><br>
                    17 Rue d'Ulm 5eme Arrondissement<br>
                    Quartier Val-de-Grâce, 75005 Paris<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
                <address>
                    <strong>Marc François: Responsable du théâtre</strong><br>
                    <a href="#">lecrystal-theatre@outlook.com</a>
                </address>
                <h5 class="title-bg">Emplacement théâtre</h5>
                <div id="map"></div>
            </div>
        </div>
    </div>



{% endblock %}