{% extends 'base.html.twig' %}

{% block body %}
<div class="row headline">
    <!-- Begin Headline -->

    <!-- Slider Carousel
   ================================================== -->
   <div class="container" id="carousel">
       <div class="span8">  
            <div class="content" id="slider">
                <img src="../img/theatre.png" alt="img-slide" id="slide">
                <div id="precedent" onclick="ChangeSlide(-1)"><</div>
                <div id="suivant" onclick="ChangeSlide(1)">></div>
            </div>
       </div>

       <!-- Headline Text
   ================================================== -->
       <div class="span4">
           <h3>Bienvenue sur le site du théâtre Le Crystal<br />Scène française et international</h3>
           <p>Cras rutrum, massa non blandit convallis, est lacus gravida enim, eu fermentum ligula orci et tortor. In
               sit
               amet nisl ac leo pulvinar molestie. Morbi blandit ultricies ultrices.</p>
           <a href="#"><i class="icon-plus-sign"></i>Read More</a>
       </div>
   </div>
</div><!-- End Headline -->


{% endblock %}
