{% extends 'base.html.twig' %}

{% block body %}
    <div class="row headline">
        <div class="container" id="carousel">
            <div class="span8">  
                    <div class="content" id="slider">
                        <img src="../img/theatre.png" alt="img-slide" id="slide">
                        <div id="precedent" onclick="ChangeSlide(-1)"><</div>
                        <div id="suivant" onclick="ChangeSlide(1)">></div>
                    </div>
            </div>
            <div class="span4">
                <h3>Bienvenue sur le site du théâtre Le Crystal<br />Scène française et international</h3>
                <p>Cras rutrum, massa non blandit convallis, est lacus gravida enim, eu fermentum ligula orci et tortor. Insitamet nisl ac leo pulvinar molestie. Morbi blandit ultricies ultrices. <a href="#"><i class="icon-plus-sign"></i>En lire plus</a></p>
            </div>
        </div>
    </div>

    <div class="row gallery-row">
        <div class="container container-gallery">
            <div class="span12">
                <h5 class="title-bg">Dernières Actualités
                    <small>Représentation comique et musical</small>
                    <button class="btn btn-mini btn-inverse hidden-phone" type="button">View Portfolio</button>
                </h5>
                <div class="row row-lastEvents">
                    {% for lastEvent in lastEvents %}
                        <div class="span4">
                            <img src="{{ asset( 'uploads/pictures/' ~ lastEvent.picture) }}" alt="image">
                            <h5>{{ lastEvent.name }}</h5>
                            <p>{{ lastEvent.description }}</p>
                            <a class="btn btn-small btn-inverse" type="button" href="{{ path('app_booking_booking', {id: lastEvent.id}) }}">En lire plus</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
