<header>
    <div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>
    <div class="container">
        <div class="row header">
            <div class="span5 logo">
                <a href="index.htm"><img src="{{ asset('img/logo.png') }}" alt=""/></a>
                <h5>Théâtre Le Crystal</h5>
            </div>

            <div class="span7 navigation">
                <div class="navbar hidden-phone">

                    <ul class="nav">
                        <li class="dropdown active">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="index.htm">Accueil <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            </ul>
                        </li>
                        <li><a href="features.htm">Se connecter </a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="gallery-4col.htm">Réservation <b class="caret"></b></a>
                        </li>
                        <li><a href="page-contact.htm">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>